USE [DateTimeDatabase]
GO
/****** Object:  Table [dbo].[HoursTable]    Script Date: 5/19/2019 4:59:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoursTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TimeValue] [time](7) NULL,
 CONSTRAINT [PK_HoursTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[HoursTable] ON 

INSERT [dbo].[HoursTable] ([id], [TimeValue]) VALUES (1, CAST(N'00:00:00' AS Time))
INSERT [dbo].[HoursTable] ([id], [TimeValue]) VALUES (2, CAST(N'00:15:00' AS Time))
INSERT [dbo].[HoursTable] ([id], [TimeValue]) VALUES (3, CAST(N'00:30:00' AS Time))
SET IDENTITY_INSERT [dbo].[HoursTable] OFF
